<nav class="navbar navbar-light bg-light static-top">
  <div class="container delan">
    <a class="navbar-brand"><img src="assets/logo.png" width="200" height="100"></a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="#">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">HABITACIONES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NOSOTROS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACTENOS</a>
      </li>
    </ul>
    <a class="btn btn-primary" href="#">RESERVAR</a>
  </div>
</nav>