<div>
    <h3 class="footer">
        Jr Miguel Grau 892 - El Tambo <p>
        Huancayo, Perú | 064242424
    </h3>
    <a class="ftext">
        <input  style="width: 300px; height: 30px;" type="text" name="nombredelacaja"><p>
            SUSCRIBETE
    </a>
</div>

<div class="footicon">
    <img class="ico" type="submit" src="assets/icons/facebook.png" width="70">
    <img class="ico" src="assets/icons/whatsapp.png" width="70">
    <img class="ico" src="assets/icons/instagram.png" width="70">
     <a class="btn btn-primary" href="#">CONTACTENOS</a>
</div>

<p class="copy">&copy; 2015 HostalTamboWasi.com<p></p>

