<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="assets/portada1.jpg" width="200" height="500" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <hr class="rounded">
    <div class="section section-components section-dark">
      <div class="row">
        <div class="col-md-12 col-lg-6">

        </div>
        <div class="col-md-10 col-lg-4 ml-aut o mr-auto">
          <div class="container basic-container">
            <h3 class="title">Basic Components</h3>
            <h6 class="category">The core elements of your website</h6>
            <h5 class="description">We re-styled every Bootstrap 4 element to match the Paper Kit style. All the Bootstrap 4 components that you need in a development have been re-design with the new look. Besides the numerous basic elements, we have
              also created additional classes. All these items will help you take your project to the next level.</h5>
          </div>
          <div >
            <img class="ico" src="assets/icons/camara.png" width="70">
            <img class="ico" src="assets/icons/wifi.png" width="70">
            <img class="ico" src="assets/icons/phone.png" width="70">
            <img class="ico" src="assets/icons/tv.png" width="70">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-layout-11"></i>
            </div>
            <div class="description">
              <h4 class="info-title"> Huge Number of Components </h4>   <hr class="rounded">
              <p>The kit comes with components designed to look perfect together. All components fit perfectly with each other.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-tile-56"></i>
            </div>
            <div class="description">
              <h4 class="info-title"> Multi-Purpose Sections </h4>  <hr class="rounded">
              <p>The sections will help you generate pages in no time. From team presentation to pricing options, you can easily customise and built your examples.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-paper"></i>
            </div>
            <div class="description">
              <h4 class="info-title"> Example Pages </h4>   <hr class="rounded">
              <p>Speed up your development time or get inspired with the large number of example pages. You can jump start your development with our pre-built example pages.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <hr class="rounded">
  
  